<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator</title>
    <script src="jQuery.js"></script>
    <script src="googleApi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="navbar navbar-expand-sm -50 fixed-top">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- // ---------------------------------------------  System Name ------------------------------------------------- // -->
            <ul class="navbar-nav mr-auto">
                <li id="system"><h3>CREATOR</h3></li>
            </ul>

      <!-- // --------------------------------------------- BUTTONS ------------------------------------------------- // -->
            <ul class="navbar-nav  float-xs-right">

      <!-- // --------------------------------------------- HOME ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="home" href="/creator">Home</a>
                </li> 

      <!-- // --------------------------------------------- Pending Requests ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="Cart" href="#">Pending Requests</a>
                </li>

        <!-- // --------------------------------------------- Paid Requests ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="Cart" href="#">Paid Requests</a>
                </li>

       <!-- // --------------------------------------------- Completed Requests ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="Cart" href="#">Completed Requests</a>
                </li>     
        
        <!-- // --------------------------------------------- My Payments ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="Cart" href="#">My Payments</a>
                </li>   

      <!-- // --------------------------------------------- LOGIN ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a id="login123" class="nav-link xyz" href="/login">Login</a>
                </li> 

                <li class="nav-item active">
                    <a id="logout" class="nav-link xyz">Logout</a>
                </li> 
            </ul>
        </div>
    </nav>

    <input type="text" id="accName">
    <button id="fetchAdSense">Load adSense details</button>

    <p></p>

    <input type="date" id="startDate">
    <input type="date" id="endDate">
    <button id="fetchYtAnalytics">Load Youtube Analytics</button>

    <div class="container">
        <canvas id="myChart">

        </canvas>
    </div>

    <div class="pendingReq">
        {{!-- <a href="/creator/pendingRequests">Get Pending Requests</a> --}}
        <table cellspacing="5" cellpadding="5" class="table table-striped table-dark">
            <thead>
                <th>Request Id</th>
                <th>Request Meta Data</th>
                <th>Offered on</th>
                <th>Promoter Username</th>
                <th>Amount(in Rs)</th>
                <th>Deadline</th>
                <th>Action</th>
                <th>Submit</th>
            </thead>
            {{#each pendingReqList as |obj|}}
                <tr>
                    
                        <td>{{obj.requestId}}</td>
                        <td>{{obj.requestMetaData}}</td>
                        <td>{{obj.offeredOn}}</td>
                        <td>{{obj.promoterUsername}}</td>
                        <td>{{obj.amount}}</td>
                        <td>{{obj.deadline}}</td>
                        <form method="POST" action="/creator/updRequestStatus">
                            <td>
                                <div class=" group select"> 
                                    <input type="text" name="requestId" value="{{obj.requestId}}" hidden>
                                    <select name="status" id="type" >
                                        <option disabled selected value> -- Choose Type Of User -- </option>
                                        <option value="Accept">Accept</option>
                                        <option value="Reject">Reject</option>
                                    </select>   
                                </div>
                            </td>
                            <td><button type="submit">Update</button></td>
                        </form> 
                </tr>
            {{/each}}
        </table>
    </div>

    <div class="paidReq">
        {{!-- <a href="/creator/paidRequests">Get Paid Requests</a> --}}
        <table cellspacing="5" cellpadding="5" class="table table-striped table-dark">
            <thead>
                <th>Request Id</th>
                <th>Request Meta Data</th>
                <th>Offered on</th>
                <th>Promoter Username</th>
                <th>Amount(in Rs)</th>
                <th>Deadline</th>
                <th>Action</th>
                <th>Submit</th>
            </thead>
            {{#each paidReqList as |obj|}}
                <tr>
                        <td>{{obj.requestId}}</td>
                        <td>{{obj.requestMetaData}}</td>
                        <td>{{obj.offeredOn}}</td>
                        <td>{{obj.promoterUsername}}</td>
                        <td>{{obj.amount}}</td>
                        <td>{{obj.deadline}}</td>
                        <form method="POST" action="/creator/updRequestStatus">
                            <td>
                                <div class=" group select"> 
                                    <input type="text" name="requestId" value="{{obj.requestId}}" hidden>
                                    <select name="status" id="type" >
                                        <option disabled selected value> -- Choose -- </option>
                                        <option value="Complete">Mark as Done</option>
                                    </select>   
                                </div>
                            </td>
                            <td><button type="submit">Update</button></td>
                        </form> 
                </tr>
            {{/each}}
        </table>
    </div>

    <div class="completedReq">
        {{!-- <a href="/creator/completedRequests">Get Completed Requests</a> --}}
        <table cellspacing="5" cellpadding="5" class="table table-striped table-dark">
            <thead>
                <th>Request Id</th>
                <th>Request Meta Data</th>
                <th>Offered on</th>
                <th>Promoter Username</th>
                <th>Amount(in Rs)</th>
            </thead>
            {{#each compReqList as |obj|}}
                <tr>
                    <td>{{obj.requestId}}</td>
                    <td>{{obj.requestMetaData}}</td>
                    <td>{{obj.offeredOn}}</td>
                    <td>{{obj.promoterUsername}}</td>
                    <td>{{obj.amount}}</td>
                </tr>
            {{/each}}
        </table>
    </div>

    <div class="payHistory">
        {{!-- <a href="/creator/myPayments">Get My Payment History</a> --}}
        <table cellspacing="5" cellpadding="5" class="table table-striped table-dark">
            <thead>
                <th>Payment ID</th>
                <th>Request ID</th>
                <th>Promoter Username</th>
                <th>Payment Type</th>
                <th>Payment Mode</th>
                <th>TimeStamp</th>
                <th>Amount(in Rs)</th>
            </thead>
            {{#each paymentsList as |obj|}}
            <tr>
                <td>{{obj.paymentId}}</td>
                <td>{{obj.requestId}}</td>
                <td>{{obj.promotorUsername}}</td>
                <td>{{obj.paymentType}}</td>
                <td>{{obj.paymentMode}}</td>
                <td>{{obj.timestamp}}</td>
                <td>{{obj.amount}}</td>
            </tr>
            {{/each}}
        </table>
    </div>

    <script src="script.js"></script>
</body>
</html>