<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="jQuery.js"></script>
    <title>Business</title>
</head>
<body>

    <nav class="navbar navbar-expand-sm -50 fixed-top">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- // ---------------------------------------------  System Name ------------------------------------------------- // -->
            <ul class="navbar-nav mr-auto">
                <li id="system"><h3>PROMOTER</h3></li>
            </ul>

      <!-- // --------------------------------------------- BUTTONS ------------------------------------------------- // -->
            <ul class="navbar-nav  float-xs-right">

      <!-- // --------------------------------------------- HOME ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="home" href="/business">Home</a>
                </li> 

    <!-- // --------------------------------------------- Accepted Requests ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="newReq" href="#">New Request</a>
                </li>

      <!-- // --------------------------------------------- Accepted Requests ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="accReq" href="#">Accepted Requests</a>
                </li>

       <!-- // --------------------------------------------- Completed Requests ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="compReq" href="#">Completed Requests</a>
                </li>     
        
        <!-- // --------------------------------------------- My Payments ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a class="nav-link xyz" id="pays" href="#">My Payments</a>
                </li>   

      <!-- // --------------------------------------------- LOGIN ------------------------------------------------- // -->
                <li class="nav-item active">
                    <a id="login123" class="nav-link xyz" href="/root/login">Login</a>
                </li> 

                <li class="nav-item active">
                    <a id="logout" class="nav-link xyz">Logout</a>
                </li> 
            </ul>
        </div>
    </nav>

    <div class="form-style-6 newReqForm">
        <h1>Create New Request</h1>
        <form action="/business/newRequest" method="POST">
            <input type="text" name="requestMetaData" placeholder="Description">
            <input type="text" name="creatorUsername" placeholder="Creator UserName">
            <input type="date" name="offeredOn" placeholder="Offer Date">
            <input type="date" name="deadline" placeholder="Deadline Date">
            <input type="text" name="amount" placeholder="Amount">
            <button type="submit" class="btn btn-primary">CREATE</button>
        </form>
    </div>

    <div class="acceptedReq">
        {{!-- <a href="/business/acceptedRequests">Get Accepted Requests</a> --}}
        <table cellspacing="5" cellpadding="5" class="table table-striped table-dark">
            <thead>
                <th>Request Id</th>
                <th>Request Meta Data</th>
                <th>Offered on</th>
                <th>Creator Username</th>
                <th>Amount(in Rs)</th>
                <th>Deadline</th>
                <th>Payment Mode</th>
                <th>Payment Date</th>
                <th>Action</th>
                <th>Submit</th>
            </thead>
            {{#each accReqList as |obj|}}
                <tr>
                    <td>{{obj.requestId}}</td>
                    <td>{{obj.requestMetaData}}</td>
                    <td>{{obj.offeredOn}}</td>
                    <td>{{obj.creatorUsername}}</td>
                    <td>{{obj.amount}}</td>
                    <td>{{obj.deadline}}</td>
                    <form method="POST" action="/business/makePayment">
                        <td>
                            <div class="group select"> 
                                <select name="paymentMode">
                                    <option disabled selected value> -- Choose Type -- </option>
                                    <option value="Paytm">Paytm</option>
                                    <option value="RTGS">RTGS</option>
                                    <option value="NEFT">NEFT</option>
                                    <option value="NetBanking">NetBanking</option>
                                </select>   
                            </div>
                        </td>
                        <td>
                            <input type="date" name="timestamp">
                        </td>
                        <td>
                            <div class="group select"> 
                                <select name="status" id="type">
                                    <option disabled selected value> -- Choose -- </option>
                                    <option value="Paid">Make Payment</option>
                                </select>   
                            </div>
                        </td>
                        <input type="text" name="requestId" value="{{obj.requestId}}" hidden>
                        <input type="text" name="amount" value="{{obj.amount}}" hidden>
                        <input type="text" name="creatorUsername" value="{{obj.creatorUsername}}" hidden>
                        <td><button type="submit">Update</button></td>
                    </form> 
                </tr>
            {{/each}}
        </table>
    </div>

    <div class="completedReq">
        {{!-- <a href="/business/completedRequests">Get Completed Requests</a> --}}
        <table cellspacing="5" cellpadding="5" class="table table-striped table-dark">
            <thead>
                <th>Request Id</th>
                <th>Request Meta Data</th>
                <th>Offered on</th>
                <th>Creator Username</th>
                <th>Amount(in Rs)</th>
            </thead>
            {{#each compReqList as |obj|}}
                <tr>
                    <td>{{obj.requestId}}</td>
                    <td>{{obj.requestMetaData}}</td>
                    <td>{{obj.offeredOn}}</td>
                    <td>{{obj.creatorUsername}}</td>
                    <td>{{obj.amount}}</td>
                </tr>
            {{/each}}
        </table>
    </div>

    <div class="payHistory">
        {{!-- <a href="/business/myPayments">Get My Payment History</a> --}}
        <table cellspacing="5" cellpadding="5" class="table table-striped table-dark">
            <thead>
                <th>Payment ID</th>
                <th>Request ID</th>
                <th>Creator Username</th>
                <th>Payment Type</th>
                <th>Payment Mode</th>
                <th>TimeStamp</th>
                <th>Amount(in Rs)</th>
            </thead>
            {{#each paymentsList as |obj|}}
            <tr>
                <td>{{obj.paymentId}}</td>
                <td>{{obj.requestId}}</td>
                <td>{{obj.creatorUsername}}</td>
                <td>{{obj.paymentType}}</td>
                <td>{{obj.paymentMode}}</td>
                <td>{{obj.timestamp}}</td>
                <td>{{obj.amount}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <script src="script.js"></script>
</body>
</html>